# 导入模块

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.utils import shuffle

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
plt.rcParams['font.sans-serif'] = ['FangSong']
plt.rcParams['axes.unicode_minus'] = False

# 加载数据

In [2]:
train = pd.read_csv('../data/train.csv')
train['tag'] = 'train'
test = pd.read_csv('../data/test.csv')
test['tag'] = 'test'
data = train.append(test)
data = shuffle(data)
data.index = range(len(data))
data.head()

             id   income  age  experience_years is_married  city  region  current_job_years  current_house_years house_ownership car_ownership  profession  label    tag
0  train_141336  7009156   36                20    married   222      22                 10                   12          rented            no           5      0  train
1   train_99361  3725530   31                 8     single   309      25                  8                   14          rented            no          38      0  train
2   train_27268  7733758   27                20     single    31      28                  4                   11          rented            no          35      0  train
3   train_59720  5994422   62                17     single   127      13                  6                   13          rented            no           2      0  train
4    train_5187  2707807   35                12     single    14      14                  4                   13          rented            no          10      0  train

# 特征工程

## 特征交互

In [5]:
data.groupby(by='is_married')['label'].mean().to_dict()

{'married': 0.10245646766169154, 'single': 0.1253358789421581}